*{
	font-family: 'Libre Baskerville', serif;
	color:white;
	font-weight: normal;
}

/* Flower background*/

.main-background{
	display:flex;
	flex-flow:column wrap;
	justify-content:flex-start;
	align-items:center;
	background:linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
	url(https://wallpapercave.com/wp/wp4572317.jpg);
	background-size: cover;
	height:500px;
	padding-top:100px;
}

.main-background h1{
	margin-bottom:0px;
}

.main-background h5{
	line-height:1.6;
	width:500px;
	text-align:center;
}

.main-background .mainbutton{
	display:inline-block;
	margin-top:25px;
	padding:10px 5px;
	width:200px;
	border: 0px;
	background: #97A9BD;
	outline:none;
}

.main-background .mainbutton:hover{
	background-color:wheat;
	color:black;
	transition: ease-in-out 0.75s;

}

/* Buttons */

.flexbox-container{
	display:flex;
	flex-direction: row;
	justify-content:space-evenly;
	align-items:center;
	height:200px;
}

.flexbox-container .box{
	display:flex;
	flex-flow: column nowrap;
	text-align:center;
	border-top-left-radius: 25%;
	border-bottom-right-radius:25%;
	height:200px;
	width:250px;
	margin-top: -150px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.flexbox-container .box button{
	align-self: center;
	border-radius:100%;
	margin-top:20px;
	height:50px;
	width:50px;
	font-size: 25px;
	text-align: center;
	opacity:0.6	;
	outline:none;
}

.flexbox-container .box button:hover{
	opacity:1	;
	transition-duration:0.4s;
}

.boxh6{
  text-align:center;
  margin:0px;
}

.child1{
	background:#97A9BD;
}

.child2{
	background:#A197BD;
}

.child3{
	background:#98BDAB;
}

.child4{
	background:#97A9BD;
}


/* Media queries*/

@media only screen and (max-width: 500px){

	html{
		background:linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
		url(https://wallpapercave.com/wp/wp4572317.jpg);
		background-size:cover;
	}

	.main-background{
		flex-flow:row wrap;
		justify-content: center;
		padding-top:0px;
	}

	.main-background .mainbutton{
		align-self: baseline;
	}

	.flexbox-container{
		flex-flow: row wrap;
		align-items:center;
		text-align:center;
	}

	.flexbox-container .box{

	  height:100px;
	  width:100px;
	}

	.boxh6,.boxh3{
	 display:none;
	}
}